@import '../../styles/variables';

.hour-item {
  padding-bottom: 17px;
  border-bottom: 2px solid #E3E1E1;
  text-align: center;
  .duration {
    padding: 5px 9px;
    background-color: $backgroundColorDark;
    color: #ffffff;
  }
  .duration.active {
    background-color: $backgroundColorGrey;
  }
  .description {
    padding: 12px;
    padding-bottom: 0;
    color: $textColorDark;
    text-transform: uppercase;
    white-space: nowrap;

    text-overflow: ellipsis;
    overflow: hidden;
  }
  .icon {
    height: 48px;
  }
  .temperature {
    font-size: 16px;
    color: $textColorOrange;
  }
  &:hover {
    cursor: pointer;
    border-bottom: 2px solid #FD7013;
  }
}
.hour-item.active {
  background-color: #eeeeee;
}
